[user]
	name = jiko
	mail = jiko.cs@gmail.com
	email = jiko.cs@gmail.com
[http]
	sslVerify = false
[core]
	editor = vim
[merge]
	tool = vimdiff
[alias]
    co = checkout
    ci = commit
    d = diff
    st = status
    br = branch
    re = remote
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[push]
	default = simple
